body {
  left:25px;

}

a:visited{
  color:black;
}

a {
  color: white;
  text-decoration: none;
}

#navbar{
  position:fixed;
  display: flex;
  top:0;
  color: white;
  background-color:black;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

#navbar a{
  color:white;
}

#navbar a:visited {
  color:white;
}

.nav-link{
  margin: 1em;
}

#projects{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#welcome-section{
  display:flex;
  flex-direction: row;
  height:93vh;
  padding-top: 7vh;
}

#profiles{
  background-color: black;
  font-size: 148px;
  color:white;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-tile{
  width:20%;
  padding: 1em;
  margin: 2em;
  background-color: black;
  color: white;
}

.project-tile a:visited{
  color:white;
}

.project-content{
  color:white;
}


#welcome-text{
  display: flex;
  flex-direction: column;
  width:auto;
  align-self: center;
  padding-left: 1em;
}

#welcome-wrapper{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

#profiles a:visited{
  color:white;
}

@media (max-width:640px) {
  #projects{
    flex-direction: column;
  }
  .project-tile {
    width:80%;
    align-self: center;
  }
}
